<h1>Word Puzzle!</h1>
<h3>Enter a word and I will replace the vowels with dashes. Then you can ask a friend to guess what the word is but only revealing the consonants!</h3>

<form action="/guessword">
  <div class="form-group">
    <label for="userWord">Enter your word:</label>
    <input name="userWord" id="userWord" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Play!</button>
</form>
