<h2 class="well">Word Puzzle</h2>

<h3>Guess the Word:</h3>

<br />

<h4>$userOutput</h4>



<p>Don't know?</p>


<form action="/answer">
  <button type="submit" class="btn btn-danger">See Answer</button>
</form>
